* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 3rem;
    background-color: #f9ed69;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.navigation {
    list-style: none;
}

.navigation li {
    margin-left: 30px;
    float: left;
}

.navigation li:first-child {
    margin: 0px;
}

.navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}

.button {
    float: right;
}

.btn-main:link,
.btn-hot:link {
    padding: 10px;
    dispaly: inline-block;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}

.btn-main:link {
    background-color: #f08a5d;
}

.btn-main:hover {
    background-color: #ea5717;
}

.btn-hot {
    color: black;
}

.btn-hot:link {
    background-color: #b83b5e;
}

.btn-hot:hover {
    background-color: #7e2840;
}