/*
colors 
light green : #7ed56f
medium green: #55c57a
dark green: #28b485
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    /* 
    above line tells us that at every point the height of this box should be 95%
    */
    background-image: linear-gradient( to right top, rgba(126, 213, 111, 0.8), rgba(39, 180, 133, 0.8)), url("../img/hero.jpg");
    background-size: cover;
    /* what cover does is it will adjust according to his height and wwidth of the hreader file  */
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 73%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 73%, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.logo:hover {
    animation: moveinright 1s ease-out;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* is used remove the default error caused during animation  */
}

.heading-primary-main {
    /* span elelment is by default an display property so its an inline elelment  so use block property*/
    display: block;
    font-size: 60px;
    font-weight: 400px;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700px;
    letter-spacing: 17px;
    animation-name: moveinright;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; tells how many times the animation should repeat */
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    90% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveinright {
    0% {
        opacity: 0;
        transform: translateX(+100px);
    }
    90% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* .btn:link, */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 40px;
}

.btn-white {
    background-color: #fff;
    color: #777;
}


/*  
    psuedo classes are special classes of a selector 
    where button is the one of the sudo classes which is similiar hover element
    so here link is an howver element for btn 
    
    */