/*
colors 
light green : #7ed56f
medium green: #55c57a
dark green: #28b485
 */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    /* 
    above line tells us that at every point the height of this box should be 95%
    */
    background-image: linear-gradient( to right top, rgba(126, 213, 111, 0.8), rgba(39, 180, 133, 0.8)), url("../img/hero.jpg");
    background-size: cover;
    /* what cover does is it will adjust according to his height and wwidth of the hreader file  */
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 73%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 73%, 0 100%);
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
}

.heading-primary-main {
    /* span elelment is by default an display property so its an inline elelment  so use block property*/
    display: block;
    position: absolute;
    top: 40%;
    left: 40%;
    letter-spacing: 20px;
    font-size: 20px;
}

.heading-primary-sub {
    display: block;
    position: absolute;
    top: 45%;
    left: 40%;
}